@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    height: 1080px;
    background: linear-gradient(to top left, powderblue, pink);
}

.container {
    width: 500px;
    background: linear-gradient(to top left, powderblue, pink);
    padding: 8px 4px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 5px 5px 40px 30px rgba(18, 8, 39, 0.2);
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}

h2 span {
    color: #895cf3;
}

input {
    padding: 15px 10px;
    border: 1px solid #bbc0c5;
    box-shadow: 0 4px 4px rgba(81, 0, 255, 0.2);
    border-radius: 15px;
    color: #170444;
    outline: none;
}

label {
    color: #170444;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 30px;
}

.box {
    display: flex;
    justify-content: space-between;
    gap: 25%;
}

.wrapper-1 input, .wrapper-2 input{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
}
#ghbdtn {
    padding-top: 20%;
    color: white;
    font-size: 500%;
}